<div class="menu_bar_container">
    <div class="menu_bar_logo">
        <img
            src="../../../assets/images/ps-logo.png"
            alt="PSN logo"
            width="140px"
            height="32px"
        >
    </div>
    <div class="menu_bar_item">
        <ul>
            <li><a href="https://github.com/DevGustavus">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/gustavo-machado-pontes-161616286/">Linkedin</a></li>
            <li><a href="https://profile.indeed.com/p/gustavom-04swvyy">Indeed</a></li>
        </ul>
    </div>
</div>